{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h2>Создать новую заявку</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
{% endblock content %}


{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock footer %}