body {
  background-image: url("https://avatars.dzeninfra.ru/get-zen_doc/4340862/pub_641309abb3759b23d4111c73_6413270375ba0a2c444b67a3/scale_1200");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: #f8f9fa;
  height: 100vh;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.form-control {
  background-color: #212529; /* Темный фон для input */
  color: #f8f9fa; /* Светлый текст */
}

.form-control:focus {
  background-color: #2a2f35;
  color: #f8f9fa;
  border-color: #495057;
}