/* Общий фон */
body {
  background-color: #ffffea; /* Светло-желтый */
  color: #333; /* Темно-серый текст */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Шапка сайта */
header {
  background-color: rgba(255, 240, 212, 0.9); /* Песочный с прозрачностью */
  border-bottom: none; /* Убираем линию */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

header .navbar-brand {
  color: #333; /* Темно-серый текст */
  font-weight: bold;
}

header .nav-link {
  color: #333; /* Темно-серый текст */
  text-decoration: none; /* Убираем подчеркивание */
}

header .nav-link:hover {
  color: #f9b4b4; /* Розовый при наведении */
}

/* Футер сайта */
footer {
  background-color: rgba(251, 224, 224, 0.9); /* Светло-розовый с прозрачностью */
  color: #333; /* Темный текст */
  padding: 15px 0;
  text-align: center;
  border-top: none; /* Убираем линию */
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

footer p {
  margin: 0;
  font-size: 14px;
}

/* Кнопки */
.btn-primary {
  background-color: #fff0d4; /* Песочный */
  color: #333; /* Темный текст */
  border: 1px solid #fbe0e0; /* Розовая рамка */
  text-decoration: none; /* Убираем подчеркивание */
}

.btn-primary:hover {
  background-color: #fbe0e0; /* Светло-розовый */
  color: #333;
  border-color: #fff0d4; /* Песочный */
}

/* Карточки */
.card {
  border: 1px solid #fbe0e0; /* Розовая рамка */
  background-color: #fff0d4; /* Песочный фон */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  color: #333; /* Темный текст */
}

.card-title {
  font-weight: bold;
}

/* Ссылки */
a {
  color: #333; /* Темно-серый */
  text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
  color: #fbe0e0; /* Розовый при наведении */
  text-decoration: none; /* Без подчеркивания */
}

/* Форма */
.form-control {
  background-color: #fff0d4; /* Песочный */
  color: #333; /* Темный текст */
  border: 1px solid #fbe0e0; /* Розовая рамка */
}

.form-control:focus {
  background-color: #ffffea; /* Светло-желтый */
  color: #333;
  border-color: #fbe0e0; /* Розовый */
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.form-control {
  background-color: #212529; /* Темный фон для input */
  color: #f8f9fa; /* Светлый текст */
}

.form-control:focus {
  background-color: #2a2f35;
  color: #f8f9fa;
  border-color: #495057;
}